<div class="footer-wrapper">
    <div class="shape-divider-top">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 120 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>

    <footer class="site-footer" id="footer-nexus">
        <div class="footer-container-nexus">

            <div class="nexus-left">
                <a href="{{BASE_PATH}}index.html" class="footer-logo">
                    <img src="{{BASE_PATH}}assets/img/ICOLXPES.ico" alt="LXPES Community Logo" class="footer-logo-img">
                    <div class="logo-text">
                        <span class="logo-title">LXPES</span>
                        <span class="logo-subtitle">Community</span>
                    </div>
                </a>
                <nav class="nexus-nav">
                    <a href="{{BASE_PATH}}index.html">Início</a>
                    <a href="{{BASE_PATH}}pages/faq.html">FAQ</a>
                    <a href="{{BASE_PATH}}pages/tutoriais.html">Tutoriais</a>

                </nav>
            </div>

                <div class="social-icons-footer">
                    <a href="https://discord.com/invite/lxnan" target="_blank" data-tooltip="Discord"><i class="fab fa-discord"></i></a>
                    <a href="https://facebook.com/patchlxpes" target="_blank" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank" data-tooltip="YouTube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
        <div class="footer-bottom-bar">
            <p>&copy; 2025 LXPES COMMUNITY. Todos os direitos reservados.</p>
        </div>
    </footer>
</div>