<header class="main-header">
    <div class="header-container">
        <a href="{{BASE_PATH}}index.html" class="header-logo">
            <img src="{{BASE_PATH}}assets/img/ICOLXPES.ico" alt="LXPES Community Logo" class="header-logo-img">
            <div class="logo-text">
                <span class="logo-title">LXPES</span>
                <span class="logo-subtitle">Community</span>
            </div>
        </a>

        <button id="menu-toggle" class="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <nav class="header-nav-wrapper">
            <ul class="header-nav">
                <li><a href="{{BASE_PATH}}index.html#inicio" class="active">Inicio</a></li>
                <li><a href="{{BASE_PATH}}index.html#como-instalar">Instalação</a></li>
                 <li><a href="{{BASE_PATH}}index.html#patch-store">Patch VIP</a></li>
                <li><a href="{{BASE_PATH}}pages/tutoriais.html">Tutoriais</a></li>
                <li><a href="{{BASE_PATH}}pages/faq.html">FAQ</a></li>
            </ul>
        </nav>
    </div>
</header>